extends layout

block content
   
     div(class="cointainer")
        div(class="row")
            header
                h2 S
                    a SEARCH
                div(class="nav")
                    a(href="https://www.skapiec.pl/?gclid=Cj0KCQiAmeKQBhDvARIsAHJ7mF4Q9ocy8RTwQbksK-M6xmJ1RlvYammP5WhFboN4dYVPOqbEBMGS5oEaAmmTEALw_wcB") Skąpiec
                    a(href="/favorite") Favorite
                    a(href="/myAccount") My Account
                    a(href="/") Logout
        div(class="col-12 col-lg-4 offset-lg-4 text-center my-5")
            form(class="example my-5" method="GET")
                input(type="text" placeholder="Search.." name="search")
                button(type="submit") SEARCH